<footer>
    <div class="ft-container">
        <div class="flex flex-row flex-wrap">
            <div class="contact" aria-label="contact">
                <p class="company-name">Arbellay Menuiserie & Fils SA</p>
                <p class="street">Route du Moulin 72</p>
                <p class="place">3977 Granges</p>
                <p class="phone">
                <a href="tel:+41274582138">
                    +41 (0) 27 458 21 38</a></p>
                <p class="email">
                    <a href="mailto:info@arbellay.ch">
                    info@arbellay.ch
                    </a>
                </p>
            </div>
            <div class="social-link">
            <p> insta<p>
            <p> face</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">&copy; 2023 par Gepetto.</div>
</footer>